@page
@model ADONetMovie_RazorPages.Pages.Users.AddUserModel
@{
}
<h1>Create</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="@Model.User.UserName" class="control-label"></label>
                <input asp-for="@Model.User.UserName" class="form-control" />
                <span asp-validation-for="@Model.User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Password" class="control-label"></label>
                <input asp-for="@Model.User.Password" class="form-control" />
                <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Role" class="control-label"></label><br />
                <select asp-for="@Model.User.Role" style=" width: 350px; padding: .375rem .75rem;">
                    <option>Student</option>
                    <option>Teacher</option>
                    <option>Admin</option>
                </select>
                <span asp-validation-for="@Model.User.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>