@page
@model ADONetMovie_RazorPages.Pages.Bookings.CreateBookingModel
@{
}

<h4 style="color:red"> Make a Booking</h4>
<form>
    <p>
        PIck Day and Time:
        <input type="text" asp-for="FilterCriteria" value="@DateTime.Now" readonly class="form_datetime">
        <input type="submit" value="Search"/>
    </p>
</form>
<form method="post">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Size
                </th>
                <th>
                    Capacity
                </th>


            </tr>
        </thead>
        <tbody>

            @if (Model.Rooms != null)

                @foreach (var item in Model.Rooms)
                {
                    <tr>
                        <td>
                            @item.RoomId
                        </td>
                        <td>
                            @item.Size
                        </td>
                        <td>
                            @item.Copacity
                        </td>
                        <td>
                            <input type="hidden" name="BookingId" asp-for="@item.RoomId" />
                            <button class="btn btn-info" asp-page-handler="CreateBooking">Booked </button>
                        </td>
                    </tr>
                }
    </table>
</form>
