@page
@model ADONetMovie_RazorPages.Pages.Bookings.GetBookingsModel
@{
}
@*the button will appear only if user log in system*@

@if (Model.User != null)
{
    <p>
        <a asp-page="/Bookings/CreateBooking">Create New Booking</a>
    </p>
}

<h4>List of Bookings</h4>
<table id="stable" class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Room ID
            </th>
            <th>
                User ID
            </th>
            <th>
                Date and Time
            </th>

        </tr>
    </thead>

    <tbody>

        @if (Model.Bookings != null)

            @foreach (var item in Model.Bookings)
            {

                <tr>
                    <td>
                        @item.BookingId
                    </td>
                    <td>
                        @item.RoomId
                    </td>
                    <td>
                        @item.UserId
                    </td>
                    <td>
                        @item.Time.ToString("dd/MMMM/yyyy HH:mm")
                    </td>
                    @*the button will appear only if it is the person who made the booking or the site admin or teacher*@
                    @if (Model.User != null && (item.UserId == Model.User.UserId || Model.User.Role == "Admin" || Model.User.Role == "Teacher"))
                    {
                        <td>
                            @*Post method OnPostCancelBookingAsync(Room id ) with parameter => item.BookingId*@

                            <form method="post">
                                <input type="hidden" name="BookingId" asp-for="@item.BookingId" />
                                <button class="btn btn-danger" asp-page-handler="cancelBooking">Cancel</button>
                            </form>
                        </td>
                    }

                </tr>
            }
</table>

